@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Semibold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: Gilroy;
    src: url('../assets/fonts/Gilroy-Bold.ttf');
    font-weight: 700;
}
:root {
    /* Colors */
    --color-blue: #0071E3;
    --color-grey: rgba(0, 0, 0, .5);
    /* Sizes */
    --size-regular: 16px;
    --size-medium: 18px;
    /* Border parameters */
    --border-radius: 10px;
    --border-white: 1px solid #fff;
    --border-grey: 1.2px solid rgba(0, 0, 0, 0.25);
    /* Container parameters */
    --container-width: 90%;
    /* Input parameters */
    --inp-padding: 12px 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
main {
    width: 100%;
}
.main__container {
    width: var(--container-width);
    margin: 50px auto;
}
.main__sorter {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}
.sorter__field {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.sorter__field input {
    padding: var(--inp-padding);
    border: var(--border-grey);
    border-radius: var(--border-radius);
    font-size: 15px;
}
.main__sorter button {
    padding: var(--inp-padding);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--color-blue);
    color: white;
}
.container__user {
    width: 100%;
    margin: 20px auto;
}
table {
    width: 100%;
}
tr {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid var(--color-grey);
    padding: 14px 0;
}
th {
    color: var(--color-grey);
}